html, body {
    font-family: 'Josefin Sans', sans-serif;
    font-size: 1.2em;
}

a > img {
    height: 100px;
}

h1, h2{
    font-family: 'Lato', sans-serif;
}

h2 {
    font-weight: normal;
}

.grey {
    color: #aaaaaa;
}
